.CreateTodoButton{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 100px;
    border: solid #0016b0;
    margin-left: 870px;
}